:root{

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5% !important;
    box-sizing: border-box;
}
body{
    background-color: rgba(235, 123, 119, 0.1);
}
footer{
    display: block;
    background-color: rgba(235, 122,119, 0.2);
    padding-bottom: 60px;
}
.btn{
    font-family: 'Roboto',sans-serif !important;
    color: white !important;
    background-color: #ff817e !important;
    font-size: 1.7rem !important;
    line-height: 17px;
    text-decoration:none !important;
    padding: 27px 30px ;
    transition: background-color 0.4s !important;
   border: 1px solid white !important;
}
.btn:hover{
    background-color: #e2d6d6 !important;
    color: #ff817e !important;
    border: 1px solid #ff817e !important;
}
